
.update-mask{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
}
.update-modelContent{

    position: fixed;
    top: 4rem;
    right: 15rem;
    bottom: 0;
    height: 300px;
    width: 430px;
    background-color: rgb(144, 144, 245);
    border-radius: 10px;
    
}
.update-modelContent h4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.update-modelContent button{
    margin: 8px;
}
.model-btn{
    border: none;
    background-color: wheat;
    border-radius: 5px;
    font-size: 20px;
}